In [50]:
# import libary
import pandas as pd
import matplotlib as mpl
from ydata_profiling import ProfileReport, compare

In [51]:
# import data 
df_latest = pd.read_csv('data/epimetric_latest.csv')
df_full = pd.read_csv('data/epimetric_full.csv')

In [52]:
# look at the shape of the df_full
df_full.shape

(31698, 14)

In [53]:
# look at the dataset shape 
df_latest.shape

(1950, 14)

In [54]:
# look at the dataset 
# signal_key_id, geo_key_id, time_type, time_value, issue > as surrogate key   
df_full.head()

,signal_key_id,geo_key_id,time_type,time_value,issue,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size
0,65,3129,day,20200818,20201030,365.500546,NaN,NaN,73,1604113406,NaN,0,5,5
1,154,1100,day,20210127,20210403,3.614892,NaN,NaN,66,1617490910,NaN,0,5,5
2,73,2060,day,20200706,20200717,0.000000,NaN,NaN,11,1594999605,NaN,0,5,5
3,65,4172,day,20200427,20200721,69.006967,NaN,NaN,85,1595344383,NaN,0,5,5
4,69,4146,day,20200628,20200708,0.857143,NaN,NaN,10,1594133758,NaN,0,5,5

In [55]:
# look at the dataset 
# signal_key_id, geo_key_id, time_type, time_value > as surrogate key   
df_latest.head()

,signal_key_id,geo_key_id,time_type,time_value,issue,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size
0,1,250,day,20220512,20220822,0.871166,NaN,NaN,102,1661196211,NaN,0,5,5
1,178,610,day,20190818,20220802,0.103981,0.006896,84.0,507,1609973490,NaN,0,0,0
2,176,4741,day,20190613,20220811,0.048802,0.005053,49.0,573,1609973321,NaN,0,0,0
3,29,2121,day,20210313,20210316,9.285714,NaN,NaN,3,1615942270,NaN,0,5,5
4,96,1577,day,20210306,20210308,70.463985,NaN,NaN,2,1615229122,NaN,0,5,5

In [56]:
# look at the missing value
df_full.isna().sum()/df_full.shape[0]

signal_key_id              0.000000
geo_key_id                 0.000000
time_type                  0.000000
time_value                 0.000000
issue                      0.000000
value                      0.000000
stderr                     0.913244
sample_size                0.925421
lag                        0.000000
value_updated_timestamp    0.000000
computation_as_of_dt       1.000000
missing_value              0.000000
missing_stderr             0.000000
missing_sample_size        0.000000
dtype: float64

In [57]:
column_list = ['signal_key_id', 'geo_key_id', 'time_type', 'time_value', 'issue', 'value', 'stderr', 'sample_size', 'lag', 'value_updated_timestamp', 'computation_as_of_dt', 'missing_value', 'missing_stderr', 'missing_sample_size']

In [58]:
# info of df_full
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31698 entries, 0 to 31697
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   signal_key_id            31698 non-null  int64
 1   geo_key_id               31698 non-null  int64
 2   time_type                31698 non-null  object
 3   time_value               31698 non-null  int64
 4   issue                    31698 non-null  int64
 5   value                    31698 non-null  float64
 6   stderr                   2750 non-null   float64
 7   sample_size              2364 non-null   float64
 8   lag                      31698 non-null  int64
 9   value_updated_timestamp  31698 non-null  int64
 10  computation_as_of_dt     0 non-null      float64
 11  missing_value            31698 non-null  int64
 12  missing_stderr           31698 non-null  int64
 13  missing_sample_size      31698 non-null  int64
dtypes: float64(4), int64(9), object(1)
memory usage: 3.4+ MB

In [59]:
# look at the missing value
df_latest.isna().sum()/df_latest.shape[0]

signal_key_id              0.000000
geo_key_id                 0.000000
time_type                  0.000000
time_value                 0.000000
issue                      0.000000
value                      0.000000
stderr                     0.817436
sample_size                0.821026
lag                        0.000000
value_updated_timestamp    0.000000
computation_as_of_dt       1.000000
missing_value              0.000000
missing_stderr             0.000000
missing_sample_size        0.000000
dtype: float64

In [60]:
# get the lastest from data_full named it after df_full_latest
df_full_latest = df_full.groupby(['signal_key_id', 'geo_key_id', 'time_type', 'time_value'])['issue'].max()
df_full_latest

signal_key_id  geo_key_id  time_type  time_value
1              94          day        20210506      20210714
               250         day        20220512      20220822
               419         day        20201012      20201224
               751         day        20201112      20210124
               969         day        20201026      20210107
                                                      ...
765            1791        day        20220425      20220822
819            798         day        20220509      20220822
821            1216        day        20220518      20220822
823            2482        day        20220518      20220822
831            102         day        20220518      20220822
Name: issue, Length: 1950, dtype: int64

In [61]:
# group by 
df_latest_issue = df_latest.groupby(['signal_key_id', 'geo_key_id', 'time_type', 'time_value'])
df_latest_issue

In [62]:
df_inner_latest = df_latest[df_latest['issue'].isin(df_full_latest)]
df_inner_latest

,signal_key_id,geo_key_id,time_type,time_value,issue,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size
0,1,250,day,20220512,20220822,0.871166,NaN,NaN,102,1661196211,NaN,0,5,5
3,29,2121,day,20210313,20210316,9.285714,NaN,NaN,3,1615942270,NaN,0,5,5
4,96,1577,day,20210306,20210308,70.463985,NaN,NaN,2,1615229122,NaN,0,5,5
5,69,817,day,20200421,20201030,0.571429,NaN,NaN,192,1604108117,NaN,0,5,5
7,104,4789,day,20200613,20201017,3.955070,NaN,NaN,126,1602950850,NaN,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1939,73,2552,day,20210513,20210514,4.740431,NaN,NaN,1,1621003974,NaN,0,5,5
1941,819,798,day,20220509,20220822,0.995000,NaN,NaN,105,1661196489,NaN,0,5,5
1944,381,1658,day,20220528,20220822,52.986737,4.667591,114.341,86,1661196282,NaN,0,0,0
1945,97,2163,day,20200511,20201017,0.000000,NaN,NaN,159,1602950499,NaN,0,5,5
1949,41,99,day,20200528,20201112,0.000000,NaN,NaN,168,1605173742,NaN,0,5,5

In [63]:
# find the latest issue for each group in epimetric_full
latest_issue_per_group = df_full.groupby(['signal_key_id', 'geo_key_id', 'time_type', 'time_value'])['issue'].max().reset_index()
latest_issue_per_group.rename(columns={'issue': 'latest_issue'}, inplace=True)

# left join df_latest with the aggregated DataFrame
merged_df = df_latest.merge(latest_issue_per_group, on=['signal_key_id', 'geo_key_id', 'time_type', 'time_value'], how='left')

# filter the rows based on the conditions
df_ood = merged_df[(merged_df['latest_issue'].isnull()) | (merged_df['issue'] != merged_df['latest_issue'])]



# drop the issue(from datafull)
df_ood = df_ood.drop(columns=['issue'])
 
# keep the latest_issue and rename it
df_ood = df_ood.rename(columns={"latest_issue": "issue"})


df_ood

,signal_key_id,geo_key_id,time_type,time_value,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size,issue
1,178,610,day,20190818,0.103981,0.006896,84.0,507,1609973490,NaN,0,0,0,20210106
2,176,4741,day,20190613,0.048802,0.005053,49.0,573,1609973321,NaN,0,0,0,20210106
6,73,1088,day,20210726,0.142857,NaN,NaN,1,1627392747,NaN,0,5,5,20210727
8,68,981,day,20210302,5329.938941,NaN,NaN,1,1614783061,NaN,0,5,5,20210303
9,46,1918,day,20200512,38.000000,NaN,NaN,105,1598371292,NaN,0,5,5,20200825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1942,177,1041,day,20190526,469.375000,21.223969,56.0,591,1609973274,NaN,0,0,0,20210106
1943,49,1096,day,20200414,0.000000,NaN,NaN,133,1598370160,NaN,0,5,5,20200825
1946,68,4653,day,20210718,9844.402259,NaN,NaN,1,1626688300,NaN,0,5,5,20210719
1947,103,4516,day,20200518,4.000000,NaN,NaN,152,1602950571,NaN,0,5,5,20201017
1948,92,2709,day,20210326,9149.392423,NaN,NaN,2,1616958191,NaN,0,5,5,20210328

In [64]:
# the latest in df_full 
df_full_latest = df_full[df_full['issue'] == df_full.groupby(['signal_key_id', 'geo_key_id', 'time_type', 'time_value'])['issue'].transform('max')]
df_full_latest

,signal_key_id,geo_key_id,time_type,time_value,issue,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size
0,65,3129,day,20200818,20201030,365.500546,NaN,NaN,73,1604113406,NaN,0,5,5
20,69,4463,day,20210406,20210407,0.142857,NaN,NaN,1,1617807074,NaN,0,5,5
34,100,4109,day,20210628,20210630,11823.602751,NaN,NaN,2,1625075591,NaN,0,5,5
45,69,2841,day,20201228,20201229,11.714286,NaN,NaN,1,1609282092,NaN,0,5,5
51,173,512,day,20200223,20210221,0.228528,NaN,NaN,364,1613963377,NaN,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31633,74,2742,day,20201224,20201225,0.660336,NaN,NaN,1,1608941563,NaN,0,5,5
31646,154,109,day,20210308,20210519,2.339022,NaN,NaN,72,1621469058,NaN,0,5,5
31647,68,280,day,20200506,20201014,50.941570,NaN,NaN,161,1602725481,NaN,0,5,5
31680,65,2277,day,20200518,20201030,34.824331,NaN,NaN,165,1604109771,NaN,0,5,5
31691,46,1355,day,20210105,20210107,9593.000000,NaN,NaN,2,1610004990,NaN,0,5,5

In [65]:
# merge df_ood with df_full_latest based on the match columns
df_updates = df_ood.merge(df_full_latest, on=['signal_key_id', 'geo_key_id', 'time_type', 'time_value'], suffixes=('_ood', '_full_latest'), how='inner')



df_updates

,signal_key_id,geo_key_id,time_type,time_value,value_ood,stderr_ood,sample_size_ood,lag_ood,value_updated_timestamp_ood,computation_as_of_dt_ood,...,issue_full_latest,value_full_latest,stderr_full_latest,sample_size_full_latest,lag_full_latest,value_updated_timestamp_full_latest,computation_as_of_dt_full_latest,missing_value_full_latest,missing_stderr_full_latest,missing_sample_size_full_latest
0,178,610,day,20190818,0.103981,0.006896,84.0,507,1609973490,NaN,...,20210106,0.103981,0.006896,84.0,507,1609973490,NaN,0,0,0
1,176,4741,day,20190613,0.048802,0.005053,49.0,573,1609973321,NaN,...,20210106,0.048802,0.005053,49.0,573,1609973321,NaN,0,0,0
2,73,1088,day,20210726,0.142857,NaN,NaN,1,1627392747,NaN,...,20210727,0.142857,NaN,NaN,1,1627392747,NaN,0,5,5
3,68,981,day,20210302,5329.938941,NaN,NaN,1,1614783061,NaN,...,20210303,5329.938941,NaN,NaN,1,1614783061,NaN,0,5,5
4,46,1918,day,20200512,38.000000,NaN,NaN,105,1598371292,NaN,...,20200825,38.000000,NaN,NaN,105,1598371292,NaN,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,177,1041,day,20190526,469.375000,21.223969,56.0,591,1609973274,NaN,...,20210106,469.375000,21.223969,56.0,591,1609973274,NaN,0,0,0
977,49,1096,day,20200414,0.000000,NaN,NaN,133,1598370160,NaN,...,20200825,0.000000,NaN,NaN,133,1598370160,NaN,0,5,5
978,68,4653,day,20210718,9844.402259,NaN,NaN,1,1626688300,NaN,...,20210719,9844.402259,NaN,NaN,1,1626688300,NaN,0,5,5
979,103,4516,day,20200518,4.000000,NaN,NaN,152,1602950571,NaN,...,20201017,4.000000,NaN,NaN,152,1602950571,NaN,0,5,5
980,92,2709,day,20210326,9149.392423,NaN,NaN,2,1616958191,NaN,...,20210328,9149.392423,NaN,NaN,2,1616958191,NaN,0,5,5

In [66]:
df_updates = df_updates.drop(columns=['value_ood', 
                                      'lag_ood', 
                                      'stderr_ood', 
                                      'sample_size_ood', 
                                      'value_updated_timestamp_ood',
                                      'missing_value_ood',
                                      'missing_stderr_ood',
                                      'missing_sample_size_ood',
                                     'computation_as_of_dt_ood'
                                     ,'issue_ood'])

In [67]:
df_updates

,signal_key_id,geo_key_id,time_type,time_value,issue_full_latest,value_full_latest,stderr_full_latest,sample_size_full_latest,lag_full_latest,value_updated_timestamp_full_latest,computation_as_of_dt_full_latest,missing_value_full_latest,missing_stderr_full_latest,missing_sample_size_full_latest
0,178,610,day,20190818,20210106,0.103981,0.006896,84.0,507,1609973490,NaN,0,0,0
1,176,4741,day,20190613,20210106,0.048802,0.005053,49.0,573,1609973321,NaN,0,0,0
2,73,1088,day,20210726,20210727,0.142857,NaN,NaN,1,1627392747,NaN,0,5,5
3,68,981,day,20210302,20210303,5329.938941,NaN,NaN,1,1614783061,NaN,0,5,5
4,46,1918,day,20200512,20200825,38.000000,NaN,NaN,105,1598371292,NaN,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,177,1041,day,20190526,20210106,469.375000,21.223969,56.0,591,1609973274,NaN,0,0,0
977,49,1096,day,20200414,20200825,0.000000,NaN,NaN,133,1598370160,NaN,0,5,5
978,68,4653,day,20210718,20210719,9844.402259,NaN,NaN,1,1626688300,NaN,0,5,5
979,103,4516,day,20200518,20201017,4.000000,NaN,NaN,152,1602950571,NaN,0,5,5
980,92,2709,day,20210326,20210328,9149.392423,NaN,NaN,2,1616958191,NaN,0,5,5

In [68]:
df_updates = df_updates.rename(columns={"issue_full_latest": "issue",
                                       "value_full_latest":"value",
                                       "stderr_full_latest":"stderr",
                                       "sample_size_full_latest":"sample_size",
                                       "lag_full_latest":"lag",
                                       "value_updated_timestamp_full_latest":"value_updated_timestamp",
                                       "computation_as_of_dt_full_latest":"computation_as_of_dt",
                                       "missing_value_full_latest":"missing_value",
                                       "missing_stderr_full_latest":"missing_stderr",
                                       "missing_sample_size_full_latest":"missing_sample_size"})

In [69]:
df_updates

,signal_key_id,geo_key_id,time_type,time_value,issue,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size
0,178,610,day,20190818,20210106,0.103981,0.006896,84.0,507,1609973490,NaN,0,0,0
1,176,4741,day,20190613,20210106,0.048802,0.005053,49.0,573,1609973321,NaN,0,0,0
2,73,1088,day,20210726,20210727,0.142857,NaN,NaN,1,1627392747,NaN,0,5,5
3,68,981,day,20210302,20210303,5329.938941,NaN,NaN,1,1614783061,NaN,0,5,5
4,46,1918,day,20200512,20200825,38.000000,NaN,NaN,105,1598371292,NaN,0,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,177,1041,day,20190526,20210106,469.375000,21.223969,56.0,591,1609973274,NaN,0,0,0
977,49,1096,day,20200414,20200825,0.000000,NaN,NaN,133,1598370160,NaN,0,5,5
978,68,4653,day,20210718,20210719,9844.402259,NaN,NaN,1,1626688300,NaN,0,5,5
979,103,4516,day,20200518,20201017,4.000000,NaN,NaN,152,1602950571,NaN,0,5,5
980,92,2709,day,20210326,20210328,9149.392423,NaN,NaN,2,1616958191,NaN,0,5,5

In [70]:
# check the datatype
df_updates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   signal_key_id            981 non-null    int64
 1   geo_key_id               981 non-null    int64
 2   time_type                981 non-null    object
 3   time_value               981 non-null    int64
 4   issue                    981 non-null    int64
 5   value                    981 non-null    float64
 6   stderr                   171 non-null    float64
 7   sample_size              166 non-null    float64
 8   lag                      981 non-null    int64
 9   value_updated_timestamp  981 non-null    int64
 10  computation_as_of_dt     0 non-null      float64
 11  missing_value            981 non-null    int64
 12  missing_stderr           981 non-null    int64
 13  missing_sample_size      981 non-null    int64
dtypes: float64(4), int64(9), object(1)
memory usage: 107.4+ KB

In [71]:
df_latest_updates = df_updates.merge(df_latest, on=['signal_key_id', 'geo_key_id', 'time_type', 'time_value'], suffixes=('_updates', '_latest'), how='right')

# Use issue_updates' value to replace issue_latest's value where issue_updates is not NaN
df_latest_updates['issue_latest'] = df_latest_updates['issue_updates'].fillna(df_latest_updates['issue_latest'])
df_latest_updates['value_latest'] = df_latest_updates['value_updates'].fillna(df_latest_updates['value_latest'])
df_latest_updates['stderr_latest'] = df_latest_updates['stderr_updates'].fillna(df_latest_updates['stderr_latest'])
df_latest_updates['sample_size_latest'] = df_latest_updates['sample_size_updates'].fillna(df_latest_updates['sample_size_latest'])
df_latest_updates['lag_latest'] = df_latest_updates['lag_updates'].fillna(df_latest_updates['lag_latest'])
df_latest_updates['value_updated_timestamp_latest'] = df_latest_updates['value_updated_timestamp_updates'].fillna(df_latest_updates['value_updated_timestamp_latest'])
df_latest_updates['computation_as_of_dt_latest'] = df_latest_updates['computation_as_of_dt_updates'].fillna(df_latest_updates['computation_as_of_dt_latest'])
df_latest_updates['missing_value_latest'] = df_latest_updates['missing_value_updates'].fillna(df_latest_updates['missing_value_latest'])
df_latest_updates['missing_stderr_latest'] = df_latest_updates['missing_stderr_updates'].fillna(df_latest_updates['missing_stderr_latest'])
df_latest_updates['missing_sample_size_latest'] = df_latest_updates['missing_sample_size_updates'].fillna(df_latest_updates['missing_sample_size_latest'])


df_latest_updates.drop(columns=['issue_updates'], inplace=True)
df_latest_updates.drop(columns=['value_updates'], inplace=True)
df_latest_updates.drop(columns=['stderr_updates'], inplace=True)
df_latest_updates.drop(columns=['sample_size_updates'], inplace=True)
df_latest_updates.drop(columns=['lag_updates'], inplace=True)
df_latest_updates.drop(columns=['value_updated_timestamp_updates'], inplace=True)
df_latest_updates.drop(columns=['computation_as_of_dt_updates'], inplace=True)
df_latest_updates.drop(columns=['missing_value_updates'], inplace=True)
df_latest_updates.drop(columns=['missing_stderr_updates'], inplace=True)
df_latest_updates.drop(columns=['missing_sample_size_updates'], inplace=True)



# Rename issue_latest column to issue
df_latest_updates.rename(columns={'issue_latest': 'issue',
                                  'value_latest': 'value',
                                  'stderr_latest':'stderr',
                                  'sample_size_latest':'sample_size',
                                  'lag_latest':'lag',
                                  'value_updated_timestamp_latest':'value_updated_timestamp',
                                  'computation_as_of_dt_latest':'computation_as_of_dt',
                                  'missing_value_latest':'missing_value',
                                  'missing_stderr_latest':'missing_stderr',
                                  'missing_sample_size_latest':'missing_sample_size'
                                  
                                  
                                 }, inplace=True)

# Show the updated DataFrame
df_latest_updates

,signal_key_id,geo_key_id,time_type,time_value,issue,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size
0,1,250,day,20220512,20220822.0,0.871166,NaN,NaN,102.0,1.661196e+09,NaN,0.0,5.0,5.0
1,178,610,day,20190818,20210106.0,0.103981,0.006896,84.0,507.0,1.609973e+09,NaN,0.0,0.0,0.0
2,176,4741,day,20190613,20210106.0,0.048802,0.005053,49.0,573.0,1.609973e+09,NaN,0.0,0.0,0.0
3,29,2121,day,20210313,20210316.0,9.285714,NaN,NaN,3.0,1.615942e+09,NaN,0.0,5.0,5.0
4,96,1577,day,20210306,20210308.0,70.463985,NaN,NaN,2.0,1.615229e+09,NaN,0.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1945,97,2163,day,20200511,20201017.0,0.000000,NaN,NaN,159.0,1.602950e+09,NaN,0.0,5.0,5.0
1946,68,4653,day,20210718,20210719.0,9844.402259,NaN,NaN,1.0,1.626688e+09,NaN,0.0,5.0,5.0
1947,103,4516,day,20200518,20201017.0,4.000000,NaN,NaN,152.0,1.602951e+09,NaN,0.0,5.0,5.0
1948,92,2709,day,20210326,20210328.0,9149.392423,NaN,NaN,2.0,1.616958e+09,NaN,0.0,5.0,5.0
1949,41,99,day,20200528,20201112.0,0.000000,NaN,NaN,168.0,1.605174e+09,NaN,0.0,5.0,5.0

In [102]:
data_types = df_latest_updates.dtypes
data_types

signal_key_id                int64
geo_key_id                   int64
time_type                   object
time_value                   int64
issue                      float64
value                      float64
stderr                     float64
sample_size                float64
lag                        float64
value_updated_timestamp    float64
computation_as_of_dt       float64
missing_value              float64
missing_stderr             float64
missing_sample_size        float64
dtype: object

In [105]:
# change the data type 
# 'missing_stderr', and 'missing_sample_size' columns to int64
df_latest_updates['issue'] = df_latest_updates['issue'].astype('int64')
df_latest_updates['lag'] = df_latest_updates['lag'].astype('int64')
df_latest_updates['value_updated_timestamp'] = df_latest_updates['value_updated_timestamp'].astype('int64')
df_latest_updates['missing_value'] = df_latest_updates['missing_value'].astype('int64')
df_latest_updates['missing_stderr'] = df_latest_updates['missing_stderr'].astype('int64')
df_latest_updates['missing_sample_size'] = df_latest_updates['missing_sample_size'].astype('int64')

In [106]:
def get_out_of_date_entries(df_full: pd.DataFrame, df_latest: pd.DataFrame) -> pd.DataFrame:
    # Identify the entries in df_latest that aren't the latest in df_full
    # Return a dataframe of the links that are out of date
    
    latest_issue_per_group = df_full.groupby(['signal_key_id', 'geo_key_id', 'time_type', 'time_value'])['issue'].max().reset_index()
    latest_issue_per_group.rename(columns={'issue': 'latest_issue'}, inplace=True)

    # Left join df_latest with the aggregated DataFrame
    merged_df = df_latest.merge(latest_issue_per_group, on=['signal_key_id', 'geo_key_id', 'time_type', 'time_value'], how='left')

    # Filter the rows based on the conditions
    df_ood = merged_df[(merged_df['latest_issue'].isnull()) | (merged_df['issue'] != merged_df['latest_issue'])]


    # drop the issue(from datafull)
    df_ood = df_ood.drop(columns=['issue'])
 
    # keep the latest_issue and rename it
    df_ood = df_ood.rename(columns={"latest_issue": "issue"})
    
    return df_ood
    
    # ps. might want to think about how you could use this at the end of the program for testing

def get_latest_entries(df_full: pd.DataFrame, df_ood: pd.DataFrame) -> pd.DataFrame:
    # Identify the latest entries in df_full for the entries that are in df_ood (df out of date)
    # Return a dataframe of the updates entries for df_ood
    
    df_full_latest = df_full[df_full['issue'] == df_full.groupby(['signal_key_id', 'geo_key_id', 'time_type', 'time_value'])['issue'].transform('max')]
    # Merge df_ood with df_full_latest based on the match columns
    df_updates = df_ood.merge(df_full_latest, on=['signal_key_id', 'geo_key_id', 'time_type', 'time_value'], suffixes=('_ood', '_full_latest'), how='inner')

    df_updates = df_updates.drop(columns=['value_ood', 
                                      'lag_ood', 
                                      'stderr_ood', 
                                      'sample_size_ood', 
                                      'value_updated_timestamp_ood',
                                      'missing_value_ood',
                                      'missing_stderr_ood',
                                      'missing_sample_size_ood',
                                     'computation_as_of_dt_ood', 
                                     'issue_ood'])

    df_updates = df_updates.rename(columns={"issue_full_latest": "issue",
                                       "value_full_latest":"value",
                                       "stderr_full_latest":"stderr",
                                       "sample_size_full_latest":"sample_size",
                                       "lag_full_latest":"lag",
                                       "value_updated_timestamp_full_latest":"value_updated_timestamp",
                                       "computation_as_of_dt_full_latest":"computation_as_of_dt",
                                       "missing_value_full_latest":"missing_value",
                                       "missing_stderr_full_latest":"missing_stderr",
                                       "missing_sample_size_full_latest":"missing_sample_size"})




    return df_updates


    

def update_epimetric_latest(df_latest: pd.DataFrame, df_updates: pd.DataFrame) -> pd.DataFrame:
    # Update the entries in df_latest with the values in df_updates where the keys match
    # Return a dataframe of all entries of df_latest including the updates
    df_latest_updates = df_updates.merge(df_latest, on=['signal_key_id', 'geo_key_id', 'time_type', 'time_value'], suffixes=('_updates', '_latest'), how='right')

    # Use issue_updates' value to replace issue_latest's value where issue_updates is not NaN
    df_latest_updates['issue_latest'] = df_latest_updates['issue_updates'].fillna(df_latest_updates['issue_latest'])
    df_latest_updates['value_latest'] = df_latest_updates['value_updates'].fillna(df_latest_updates['value_latest'])
    df_latest_updates['stderr_latest'] = df_latest_updates['stderr_updates'].fillna(df_latest_updates['stderr_latest'])
    df_latest_updates['sample_size_latest'] = df_latest_updates['sample_size_updates'].fillna(df_latest_updates['sample_size_latest'])
    df_latest_updates['lag_latest'] = df_latest_updates['lag_updates'].fillna(df_latest_updates['lag_latest'])
    df_latest_updates['value_updated_timestamp_latest'] = df_latest_updates['value_updated_timestamp_updates'].fillna(df_latest_updates['value_updated_timestamp_latest'])
    df_latest_updates['computation_as_of_dt_latest'] = df_latest_updates['computation_as_of_dt_updates'].fillna(df_latest_updates['computation_as_of_dt_latest'])
    df_latest_updates['missing_value_latest'] = df_latest_updates['missing_value_updates'].fillna(df_latest_updates['missing_value_latest'])
    df_latest_updates['missing_stderr_latest'] = df_latest_updates['missing_stderr_updates'].fillna(df_latest_updates['missing_stderr_latest'])
    df_latest_updates['missing_sample_size_latest'] = df_latest_updates['missing_sample_size_updates'].fillna(df_latest_updates['missing_sample_size_latest'])

    # Drop the redundant columns
    df_latest_updates.drop(columns=['issue_updates', 'value_updates', 'stderr_updates', 'sample_size_updates', 'lag_updates', 'value_updated_timestamp_updates', 'computation_as_of_dt_updates', 'missing_value_updates', 'missing_stderr_updates', 'missing_sample_size_updates'], inplace=True)

    # Rename issue_latest column to issue and other updated columns
    df_latest_updates.rename(columns={'issue_latest': 'issue',
                                  'value_latest': 'value',
                                  'stderr_latest':'stderr',
                                  'sample_size_latest':'sample_size',
                                  'lag_latest':'lag',
                                  'value_updated_timestamp_latest':'value_updated_timestamp',
                                  'computation_as_of_dt_latest':'computation_as_of_dt',
                                  'missing_value_latest':'missing_value',
                                  'missing_stderr_latest':'missing_stderr',
                                  'missing_sample_size_latest':'missing_sample_size'
                                 }, inplace=True)
    
    df_latest_updates['issue'] = df_latest_updates['issue'].astype('int64')
    df_latest_updates['lag'] = df_latest_updates['lag'].astype('int64')
    df_latest_updates['value_updated_timestamp'] = df_latest_updates['value_updated_timestamp'].astype('int64')
    df_latest_updates['missing_value'] = df_latest_updates['missing_value'].astype('int64')
    df_latest_updates['missing_stderr'] = df_latest_updates['missing_stderr'].astype('int64')
    df_latest_updates['missing_sample_size'] = df_latest_updates['missing_sample_size'].astype('int64')
    
   
    # Show the updated DataFrame
    return df_latest_updates
   
    # ps. Assure that the size of the dataframe did not change

if __name__ == '__main__':
    df_latest = pd.read_csv('data/epimetric_latest.csv')
    df_full = pd.read_csv('data/epimetric_full.csv')
    
    
    #get_out_of_date_entries(df_full, df_latest)
    #print(get_out_of_date_entries(df_full, df_latest))
    epimetric_latest_fixed = update_epimetric_latest(df_latest, update_epimetric_latest(df_latest, get_out_of_date_entries(df_full, df_latest)))
    

    ##output your resulting dataframe to a CSV
    epimetric_latest_fixed.to_csv('./data/epimetric_latest_fixed.csv', index=False)

In [107]:
# data quality check 
df = epimetric_latest_fixed

In [108]:
# Select the columns of interest
columns_of_interest = ['signal_key_id', 'geo_key_id', 'time_type', 'time_value']

# Get the DataFrame with unique combinations
unique_combinations_df = df_latest[columns_of_interest].drop_duplicates()

# Display the unique combinations meaning that is unique 
print(unique_combinations_df)

      signal_key_id  geo_key_id time_type  time_value
0                 1         250       day    20220512
1               178         610       day    20190818
2               176        4741       day    20190613
3                29        2121       day    20210313
4                96        1577       day    20210306
...             ...         ...       ...         ...
1945             97        2163       day    20200511
1946             68        4653       day    20210718
1947            103        4516       day    20200518
1948             92        2709       day    20210326
1949             41          99       day    20200528

[1950 rows x 4 columns]

In [109]:
# data quality profile 
report = ProfileReport(df)
report

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# validate
difference_df = df_latest_updates.compare(df_latest)
difference_df

In [ ]:
# check for Missing Values
missing_values = df.isnull().sum()
missing_values

signal_key_id                 0
geo_key_id                    0
time_type                     0
time_value                    0
issue                         0
value                         0
stderr                     1594
sample_size                1601
lag                           0
value_updated_timestamp       0
computation_as_of_dt       1950
missing_value                 0
missing_stderr                0
missing_sample_size           0
dtype: int64

In [ ]:
# check for Duplicates
duplicate_rows = df[df.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [signal_key_id, geo_key_id, time_type, time_value, issue, value, stderr, sample_size, lag, value_updated_timestamp, computation_as_of_dt, missing_value, missing_stderr, missing_sample_size]
Index: []

In [ ]:
# check Data Types
data_types = df.dtypes
data_types

signal_key_id                int64
geo_key_id                   int64
time_type                   object
time_value                   int64
issue                        int64
value                      float64
stderr                     float64
sample_size                float64
lag                          int64
value_updated_timestamp      int64
computation_as_of_dt       float64
missing_value                int64
missing_stderr               int64
missing_sample_size          int64
dtype: object

In [114]:
# 'missing_stderr', and 'missing_sample_size' columns to int64
df['issue'] = df['issue'].astype('int64')
df['lag'] = df['lag'].astype('int64')
df['value_updated_timestamp'] = df['value_updated_timestamp'].astype('int64')
df['missing_value'] = df['missing_value'].astype('int64')
df['missing_stderr'] = df['missing_stderr'].astype('int64')
df['missing_sample_size'] = df['missing_sample_size'].astype('int64')

In [115]:
df.dtypes

signal_key_id                int64
geo_key_id                   int64
time_type                   object
time_value                   int64
issue                        int64
value                      float64
stderr                     float64
sample_size                float64
lag                          int64
value_updated_timestamp      int64
computation_as_of_dt       float64
missing_value                int64
missing_stderr               int64
missing_sample_size          int64
dtype: object

In [117]:
# check for outliers (assuming numerical columns)
outliers = df.describe().loc[['min', 'max']]
outliers

,signal_key_id,geo_key_id,time_value,issue,value,stderr,sample_size,lag,value_updated_timestamp,computation_as_of_dt,missing_value,missing_stderr,missing_sample_size
min,1.0,6.0,202026.0,202107.0,-2.142857,0.000000,2.0,1.0,1.589389e+09,NaN,0.0,0.0,0.0
max,831.0,5406.0,20220531.0,20220822.0,340882.010923,83.606519,110162.0,734.0,1.661197e+09,NaN,0.0,5.0,5.0

In [118]:
# Check for Unique Values
unique_values = df.nunique()
unique_values

signal_key_id               221
geo_key_id                 1513
time_type                     2
time_value                  657
issue                       372
value                      1288
stderr                      356
sample_size                 302
lag                         344
value_updated_timestamp    1863
computation_as_of_dt          0
missing_value                 1
missing_stderr                2
missing_sample_size           2
dtype: int64